.App {
display: grid;
grid-template-columns: auto 850px auto;
grid-template-rows: 1fr 550px 1fr;
grid-template-rows: 55px 800px;
grid-template-areas: 
    "empty header  empty-r"
    "empty trailers empty-r"
    "empty footer  empty-r";
background-color: black;
height: 100vh;

}

body, html{
  height: 100vh;
}

.xxx{
  grid-area: header;
}

