.App {
  display: grid;
<<<<<<< HEAD
  grid-template-columns: auto 850px auto;
  grid-template-rows: 55px 650px auto 100px;
=======
  grid-template-columns: auto 1280px auto;
  grid-template-rows: 56px 650px 300px 100px;
>>>>>>> 841feb1ac61181d1cbddffa01fb27ada40cee682
  grid-template-areas:
    "empty header   empty-r"
    "empty trailers empty-r"
    "empty featured empty-r"
    "empty footer   empty-r";
  background-color: black;
  height: 100%;
}

body,
html {
  height: 100vh;
}

.grid-header {
  grid-area: header;
}

.grid-trailers {
  grid-area: trailers;
  display: flex;
  width: 100%;
  height: 100%;
}

.grid-featured {
  grid-area: featured;
  width: 100%;
  height: 100%;
}

.grid-trailers .upNext{
  width: 403px;
  height: 496px;
}
