.header-container{
    height: 100%;
    width: 100%;
    background-color: #121212;


    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    justify-content: center;
}

/*------------------ Logo */
.logo{
  
    height: 32px;
    width: 64px;
  
}

/*------------------ Hamburger */
.burger-container{
    height: 50%;
    display: flex;
    align-items:  flex-end;
    gap: 5px;
    margin: 15px;
}

.hamburger-img{
    height: 80%;
}

.menu-text{
    color: white;
    font-size: 90%;
    font-weight: 700;
}

/*------------------ Search area */
.search-area{
    /* flex: 10; */
    height: 95%;
    border-radius: 4px;
}

.rect-search-container{
    width: 782px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;

    /* display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px; */
}

/* .left-search{
    display: flex;
    gap: 10px;
} */

/* .rect-search-container :nth-child(1n+1){
    margin-top: 1px;
} */

/* .search-devider{
    width: 1px;
    height: 30px;
    background-color: black;
}

.rect-search-container :first-child{
    margin-left: 10px;
}

.arrow{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    border-radius: 3px;
    margin-top: 14px;
}

.search-icon{
    height: 70%;
    margin-right: 10px;
} */

.header-container .separator{
    border: 1px solid #2e2e2e;
    width: 1px;
    height: 2rem;
    margin: 0px 0.5rem;
}

.watchlist, .signIn{
    color: white;
    font-family: "Roboto";
    font-weight: 600;
    font-size: 14px;
}

.signIn{
    margin-left: 20px;
}

.IMDbPro{
    margin-left: 10px;
}


.nav-search-form{
    display: flex;
    height: 100%;
    box-shadow: inset 0 0 0 2px #f5c518;
    border-radius: 4px;
}

.suggestion-search-button{
    border: none;
    background-color: transparent;
    position: absolute;
    right: 315px;
    top: 13px;
}


.imdb-header-search-input{
    border: none;
}

.searchTyping{
    width: 662px;
}

.searchTyping .imdb-header-search-input{
    width: 100%;
    outline: none;
    background-color: transparent;
}

.search-category-selector{
border-right: 1px solid rgba(0, 0, 0, 0.3);
border-radius: 2px 0px 0px 2px;
height: 100%;
padding-left: 10px;
}

.button .button-text{
    font-family: "Roboto";
    font-size: 14px;
}