.carousel{
    grid-area: trailers;
    width: 850px;
    height: 550px;
}

.carousel-caption{
width: 165px;
height: 244px;
}

.play-icon img{
    width: 88px;
    height: 72px;
    
}

.carousel-inner .play-icon{
    left:30%;
    bottom: 0.25rem;

}

.carousel-control-next span, .carousel-control-prev span{
    border: 2px solid white;
    border-radius: 2px;
    padding: 20px 12px;
    
}

.carousel  .carousel-control-next, .carousel .carousel-control-prev{
    opacity: 1;
}

