.carousel{
    grid-area: trailers;
    width: 850px;
    height: 550px;
}

.carousel-inner .poster{
width: 165px;
height: 244px;
position: relative;
bottom: 10rem;
right: inherit;
padding: 0;
left:2%


}

.play-icon img{
    width: 88px;
    height: 72px;
}

.carousel-inner .play-icon{
    left:23%;
    top:55%;
    right: inherit;
    padding: 0;
}

.carousel-inner .title{
    left:10%;
    top: 50%;
    font-size:40px;

}

.carousel-inner .trailer{
    left:5%;
    bottom: 31%;
    font-size:15px;

}

.carousel-control-next span, .carousel-control-prev span{
    border: 2px solid white;
    border-radius: 2px;
    padding: 20px 12px;
    
}

.carousel  .carousel-control-next, .carousel .carousel-control-prev{
    opacity: 1;
}

