.movie-today {
  grid-area: trailers;
}

.rating-root {
  /* background-color: rgb(49, 44, 37); */
  width: 100%;
}

.line {
  display: flex;
  gap: 10px;
}

.xxx {
  display: flex;
  justify-content: space-between;
}

.movie-name {
  font-size: 50px;
  font-weight: 400;
  margin: 0;
  color: white;
}

h3 + span {
  color: rgba(255, 255, 255, 0.7);
}

.rating {
  /* background-color: rgb(0, 0, 0); */
  color: rgba(255, 255, 255, 0.7);
  width: 100px;
  line-height: 15px;
  font-weight: 700;
  display: flex;
  gap: 0;
  flex-direction: column;
  align-items: flex-end;
}

.rating-item span {
  /* background-color: darkgoldenrod; */
}

.element-title {
  width: 100%;
  margin: 0;
  margin-bottom: 8px;
  font-size: 75%;
  letter-spacing: 1.8px;
}

.current-rating {
  font-weight: 700;
  font-size: 140%;
  color: white;
}

.k {
  margin-right: 35px;
  font-size: 70%;
}

.star-img {
  width: 50%;
  height: 50%;
  /* position: relative;
  right: 55%;
  bottom: 30px; */
}

.rating-numbers-container {
  display: flex;
  flex-direction: column;
}

.rating-element-bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10%;
}

.p {
  font-size: 130%;
  color: rgb(87, 153, 239);
  margin: 0;
}

/* Cast & crew User reviews--------------------------------------------------- */

.cast-user-review-root {
  width: 100%;
  color: white;
  background-color: rgb(68, 68, 68);
  padding: 16px 0;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  border-radius: 5px;
}

.cast-user-review-root span:first-child {
  font-size: 14px;
  font-weight: 900;
  margin-right: 20px;
}

img + span {
  margin-right: 5px;
}

.devider {
  width: 1px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.7);
}

.cast-user-icon {
  width: 3%;
  height: 3%;
}

.cast-user-review-root :last-child {
  margin-right: 20px;
}

/* .movie-today {
  display: grid;
  grid-template-columns: 15% auto 15%;
  grid-template-areas: "movie-img movie-video movie-extras";
}

.movie-img {
  grid-area: movie-img;
}

.movie-video {
  grid-area: movie-video;
}

.movie-all-media {
  grid-area: movie-extras;
} */
