.section-header {
  color: #f5c518;
  font-weight: 500;
  font-size: 32px;
}

.featured-container {
  grid-area: featured;
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(255, 8, 8);
}
