.gallery {
  /* grid-area: trailers; */
  width: 1280px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  height: auto;
}

.galerry-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

/* .paginate-container {
  background-color: darkcyan;
}

.active {
  display: flex;
}

.paginate-style {
  background-color: brown;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-link {
  background-color: rgb(170, 222, 135);
} */
